@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .outline-btn{
        @apply
        border-2
        border-black
        dark:border-white 
        hover:border-blue_30 
        dark:hover:border-blue_60
        py-2 px-4
        rounded-md
        hover:text-blue_30 
        dark:hover:text-blue_60
    }
}